@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<script>
        var text = tinyMCE.get('MoTa').getContent();

        function getText() {
            var content = "", body = tinyMCE.activeEditor.getDoc().body;

            if (body.textContent) content = body.textContent; // Mozilla (Gecko)
            if (body.innerText) content = body.innerText; // Internet Explorer
            if (content == "") content = tinyMCE.activeEditor.getContent(); // other browsers

            content = content.replace(/<\/?[^>]+>/g, "");
            alert(content);
        }
        var text = getText()
    </script>
@using (Html.BeginForm())
{      
    <div class="row" id="Khung_View" style="background-color: lightcyan; border-radius: 15px">
        <div class="col-lg-3">
            Chọn ảnh bìa: 
            @*Upload anh len nhung khong luu vao duoc
            <div class="container mt-3">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>*@
            @Html.TextBox("AnhBia")
        </div>
        <div class="col-lg-9" id="Khung_View" style="background-color: lightyellow; border-radius: 15px">
            <table class="table">
                <thead>
                    <td colspan="2">
                        <h2>THÊM SẢN PHẨM MỚI</h2>
                    </td>
                </thead>
                @*<tr>
                    <td>Mã Sản Phẩm
                    </td>
                    <td>
                        @Html.TextBox("MaSP")
                        @ViewData["Loi"]
                    </td>
                </tr>*@
                <tr>
                    <td>Tên Sản Phẩm
                    </td>
                    <td>
                        @Html.TextBox("TenSP")
                        @ViewData["Loi1"]
                    </td>
                </tr>
                <tr>
                    <td>Màu Sản Phẩm
                    </td>
                    <td>
                        @Html.TextBox("Mau")
                        @ViewData["Loi2"]
                    </td>
                </tr>
                <tr>
                    <td>Size Sản Phẩm
                    </td>
                    <td>
                        @Html.TextBox("Size")
                        @ViewData["Loi3"]
                    </td>
                </tr>
                <tr>
                    <td>Nhà Cung Cấp
                    </td>
                    <td>
                        @Html.DropDownList("MaNCC")
                    </td>
                </tr>
                <tr>
                    <td>Đánh giá của sản phẩm
                    </td>
                    <td>
                        @Html.TextBox("DanhGia")
                        @ViewData["Loi6"]
                    </td>
                </tr>
                <tr>
                    <td>Mô Tả Sản Phẩm
                    </td>
                    
                    <td>
                        @Html.TextArea("MoTa")
                    </td>
                </tr>
                <tr>
                    <td>Giá Sản Phẩm
                    </td>
                    <td>
                        @Html.TextBox("Gia")
                        @ViewData["Loi7"]
                    </td>
                </tr>
                <tr>
                    <td>Tình Trạng
                    </td>
                    <td>
                        @Html.TextBox("TinhTrang")
                        @ViewData["Loi8"]
                    </td>
                </tr>
                <tr>
                    <td>Phân Loại
                    </td>
                    <td>
                        @Html.DropDownList("MaLoai")
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-outline-info">
                            @Html.ActionLink("Quay lại Danh Sách", "Index")
                        </button>
                    </td>
                    <td>
                        <input class="btn btn-outline-info" type="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
