@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<html>
<body>
    <div id="btn_group" class="row">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h4 id="Title_View">DANH MỤC NGƯỜI DÙNG</h4>
        </div>
    </div>
    <hr width="100%" size="5px" align="center" />
    <div class="row" id="Khung_View" style="background-color: lavender; border-radius: 20px">
        <table class="table col-lg-12 col-md-12 col-sm-12">
            <thead class="thead-dark">
                <tr>
                    <th>Tên Người Dùng
                    </th>
                    <th>Tên Đăng Nhập
                    </th>
                    <th>Mật Khẩu
                    </th>
                    <th>Ngày Sinh
                    </th>
                    <th>Giới Tính
                    </th>
                    <th>Email
                    </th>
                    <th>Điện Thoại
                    </th>
                    <th>Địa Chỉ
                    </th>
                    <th>Loại ND
                    </th>
                    <th>Tác Vụ
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TenKH
                    </td>
                    <td>
                        @item.TenDN
                    </td>
                    <td>
                        @item.MatKhau
                    </td>
                    <td>
                        @item.NgaySinh
                    </td>
                    <td>
                        @item.GioiTinh
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.DienThoai
                    </td>
                    <td>
                        @item.DiaChi
                    </td>
                    <td>
                        @item.TenLoai
                    </td>
                    <td>
                        <span>
                            <a href ="@Url.Action("Delete", "AdminNguoiDung", new { id = item.MaNguoiDung })"><i class="fa fa-trash-alt"></i></a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>

</body>
</html>